.rec-home__departments {

  @media (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0 5rem;
  }

  .rec-department {
    position: relative;
    background-color: $white;
    margin-bottom: 3rem;
    overflow: hidden;

    @media (min-width: $breakpoint-desktop) {
      width: 25%;
    }

    &:first-child {

      & > a {
        background-image: url('../images/people-walking-mountains-bw.jpg');
        background-position: 50% top;

        &:hover {
          background-position: 47% top;
        }
      }
    }
    &:nth-child(2) {

      & > a {
        background-image: url('../images/softball-catcher-bw.jpg');
        background-position: 35% top;

        &:hover {
          background-position: 32% top;
        }
      }
    }
    &:last-child {

      & > a {
        background-image: url('../images/man-swimming-bw.jpg');
        background-position: 100% top;

        &:hover {
          background-position: 97% top;
        }
      }
    }
    &.active {
      overflow-y: scroll;

      @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
      }

      h3 {
        transition: all .4s;

        @media (min-width: $breakpoint-desktop) {
          width: 100%;
          // margin-bottom: 3rem;
          margin-left: $page-margin-desktop;
        }

        &:before {
          content: '\2215\2215\2215';

          @media (min-width: $breakpoint-desktop) {
            // left: $page-margin-desktop;
          }
        }
      }

      & > a {

        @media (min-width: $breakpoint-desktop) {
          width: 30%;
        }

        .rec-department__plus {

          @media (min-width: $breakpoint-desktop) {
            right: 1.5%;
          }
        }
      }

      .rec-department__details {
        display: block;
        opacity: 1;
      }
    }

    h3 {
      color: $dark-grey;
      font-family: $font-secondary;
      font-weight: 900;
      text-transform: uppercase;
      padding: 0 $page-margin 0 $page-margin * 2.5;
      transition: all .4s;

      @media (min-width: $breakpoint-desktop) {
        font-size: 1.375rem;
        padding: 0 1rem 0 2.5rem;
      }
      @media (min-width: $breakpoint-desktop) {
        font-size: 1.825rem;
        padding: 0 1rem 0 2.75rem;
      }
      @media (min-width: $breakpoint-desktop-xl) {
        padding: 0 1rem 0 3.25rem;
      }

      &:before {
        content: '\2215\2215\2215';
        position: absolute;
        left: $page-margin;
        letter-spacing: 5px;

        @media (min-width: $breakpoint-desktop) {
          content: '\2215\2215\2215';
          left: .375rem;
        }
      }
    }

    & > a {
      position: relative;
      display: block;
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      transition: all .4s;
      z-index: 1;

      &:before {
        content: '';
        display: block;
        background-image: linear-gradient(270deg, rgba($dark-red, 0.5) 0%, rgba($dark-red, 0.3) 50%, rgba($dark-red, 0) 80%);
        background-blend-mode: multiply;
        padding-top: 100%;
        transition: all .2s;

        @media (min-width: $breakpoint-tablet) {
          padding-top: 80%;
        }
        @media (min-width: $breakpoint-desktop) {
          padding-top: 100%;
        }
      }
      &:after {
        content: '';
        position: absolute;
        right: -11rem;
        bottom: -11rem;
        background-color: $white;
        @include size(20rem);
        transform: rotate(45deg);
        z-index: 2;
        transition: all .4s;

        @media (min-width: $breakpoint-desktop) {
          @include size(18rem);
        }
      }
      &:hover {

        .rec-department__plus {
          transform: rotate(90deg);
        }
      }

      .rec-department__plus {
        position: absolute;
        right: 15%;
        bottom: .5%;
        @include size(2rem);
        padding: 0;
        margin: 0;
        z-index: 3;
        transition: all .4s;

        @media (min-width: $breakpoint-tablet) {
          right: 5%;
        }
        @media (min-width: $breakpoint-desktop) {
          right: 0;
        }

        &:before,
        &:after, {
          content: '';
          position: absolute;
          top: 50%;
          bottom: 50%;
          background-color: $black;
          width: 100%;
          height: .125rem;
          transition: all .4s;
        }
        &:after {
          content: '';
          transform: rotate(90deg);
        }
        &.minus {

          &:after {
            content: '';
            transform: rotate(0);
          }
        }
      }
    }

    .rec-department__details {
      display: none;
      position: relative;
      padding: 4rem 1rem 2rem;
      z-index: 3;
      opacity: 0;
      transition: all .4s;

      @media (min-width: $breakpoint-desktop) {
        padding: 0;
        margin: 0 0 0 $page-margin-desktop;
      }

      ul {
        list-style: none;
        margin: 0;

        li {

          a {
            color: $black;
            font-family: $font-secondary;
            font-weight: 700;
            text-decoration: underline;
            text-transform: uppercase;

            &:hover {
              color: $red;
            }
          }
        }
      }
    }
  }
}
